.logo{
    padding: 15px;
    margin-bottom: 20px;
}
.txt-center{
	text-align: center;
}
.c-white{
	color: white !important;
}

.button-green{
	color: white !important;
	background-color: green;
	border-color: #004000;

	&.activated{
		background-color: #009A00 !important;
		border-color: #005B00 !important;
	}
}

.topo-green{
	background-color: green;
	border-color: green;
}

.has-error {
  border-bottom: 3px solid red;

  span{ color: red; }
}

// ====== LEILÃO =======
.item-avatar{
    padding-left: 102px;

    & > a img:first-child{
        position: absolute;
        top: 5px;
        left: 5px;
        max-width: 90px;
        max-height: 65px;
        border-radius: 4px;
        // width: 100%;
    }
}

// ====== LOTES =======
.card{
    margin: 20px 10px 70px;
}
.price{
	float: right;
}
.price, .tab-item.lance{
	font-size: 18px !important;
}
.price{
	color: #fa7c18 !important;
}
.line-parcela{
	color: #666 !important;
}
.tab-item.lance{
    color: #005B00 !important;
    text-transform: uppercase;
    font-weight: bold;

}
.current-status {
    position: absolute;
    top: 15px;
    right: 0;
}
.current-status > div {
    right: 0px;
    padding: 5px 10px 5px 5px;
}
.current-status > div::after {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    // border-right: 3px solid rgb(66, 127, 237);
}
.current-status > div.winner::after {
    border-right: 3px solid #5CB85C;
}
.current-status > div.looser::after {
    border-right: 3px solid #D9534F;
}
.btn-info{
	min-height: 32px;
	line-height: 32px;
	background: rgba(0, 0, 0, 0.76) !important;
}
.line-parcela{
	line-height: 12px;
	font-size: 12px !important;
	text-align: center;
	margin-top: 8px;
	margin-bottom: -13px !important;
	font-weight: normal;
}
.select-style {
	position: relative;
    overflow: hidden;
}
.select-style:after {
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-top: 5px solid;
	border-right: 5px solid rgba(0, 0, 0, 0);
	border-left: 5px solid rgba(0, 0, 0, 0);
	color: #999;
	content: "";
	pointer-events: none;
}
.select-style select {
    color: #fa7c18 !important;
    font-weight: bold;
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.select-style select:focus {
    outline: none;
}

/* árvore */
#arvore_origem {
    color: #666;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}
#arvore_origem ul{
    padding: 0;
}
.pais {
    display: table;
    width: 100%;
}
.pais > li {
    display: table-row;
    margin: 0 0 1px;
}
.pais > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 25%;
    height: 20px;
    line-height: 20px;
}
.avos, .bisavos, .tataravos {
    display: table-cell;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.avos > li, .bisavos > li {
    display: table;
    width: 100%;
}
.avos > li > div {
    border: 1px solid #E9EBED;
    display: table-cell;
    vertical-align: middle;
    width: 33.1%;
    height: 20px;
    line-height: 20px;
}
.bisavos > li > div{
    background-color: #FFFFFF;
    border: 1px solid #E9EBED;
    display: table-cell;
    width: 49.8%;
    vertical-align: middle;
    height: 20px;
    line-height: 20px;
}