<ion-view title="Cadastro">
	<ion-nav-buttons side="left">
		<button class="button button-icon icon ion-arrow-left-c" ng-click="vm.goBack()"></button>
	</ion-nav-buttons>
	<ion-content class="has-header">
		<form class="list" name="formcadastro" novalidate ng-submit="vm.sendCadastre()">

			<div class="item item-divider"> Informações Pessoais </div>

			<label ng-class="{ 'has-error' : formcadastro.info_nome.$invalid && formcadastro.info_nome.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome</span>
				<input type="text" name="info_nome" ng-model="vm.formcadastro.info.nome" placeholder="Nome" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cpf.$invalid && formcadastro.info_cpf.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CPF</span>
				<input type="text" name="info_cpf" ng-model="vm.formcadastro.info.cpf" placeholder="CPF" required ui-br-cpf-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_rg.$invalid && formcadastro.info_rg.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">RG</span>
				<input type="number" name="info_rg" ng-model="vm.formcadastro.info.rg" placeholder="RG" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_nascimento.$invalid && formcadastro.info_nascimento.$dirty}" class="item item-input">
				<span class="input-label">Data de nascimento</span>
				<input type="date" name="info_nascimento" ng-model="vm.formcadastro.info.nascimento" style="text-align: right;" required>
			</label>
			<label class="item item-input item-select">
				<div class="input-label"> Sexo </div>
				<select ng-model="vm.formcadastro.info.sexo" required>
					<option value="masculino">Masculino</option>
					<option value="feminino">Feminino</option>
				</select>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_endereco.$invalid && formcadastro.info_endereco.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="info_endereco" ng-model="vm.formcadastro.info.endereco" placeholder="Endereço" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_complemento.$invalid && formcadastro.info_complemento.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Complemento</span>
				<input type="text" name="info_complemento" ng-model="vm.formcadastro.info.complemento" placeholder="Complemento">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cep.$invalid && formcadastro.info_cep.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CEP</span>
				<input type="text" name="info_cep" ng-model="vm.formcadastro.info.cep" placeholder="CEP" required ui-br-cep-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_cidade.$invalid && formcadastro.info_cidade.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Cidade</span>
				<input type="text" name="info_cidade" ng-model="vm.formcadastro.info.cidade" placeholder="Cidade" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_estado.$invalid && formcadastro.info_estado.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Estado</span>
				<input type="text" name="info_estado" ng-model="vm.formcadastro.info.estado" placeholder="Estado" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_pais.$invalid && formcadastro.info_pais.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">País</span>
				<input type="text" name="info_pais" ng-model="vm.formcadastro.info.pais" placeholder="País" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_tel1.$invalid && formcadastro.info_tel1.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="info_tel1" ng-model="vm.formcadastro.info.tel1" placeholder="Telefone" required ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.info_tel2.$invalid && formcadastro.info_tel2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone 2</span>
				<input type="text" name="info_tel2" ng-model="vm.formcadastro.info.tel2" placeholder="Telefone 2" ui-br-phone-number>
			</label>

			<div class="item item-divider"> Informações Profissionais </div>

			<label ng-class="{ 'has-error' : formcadastro.profissional_profissao.$invalid && formcadastro.profissional_profissao.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Profissão</span>
				<input type="text" name="profissional_profissao" ng-model="vm.formcadastro.profissional.profissao" placeholder="Profissão" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_empresa.$invalid && formcadastro.profissional_empresa.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Empresa</span>
				<input type="text" name="profissional_empresa" ng-model="vm.formcadastro.profissional.empresa" placeholder="Empresa" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_cnpj.$invalid && formcadastro.profissional_cnpj.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CNPJ</span>
				<input type="text" name="profissional_cnpj" ng-model="vm.formcadastro.profissional.cnpj" placeholder="CNPJ" ui-br-cnpj-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_renda.$invalid && formcadastro.profissional_renda.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Renda</span>
				<input type="text" name="profissional_renda" ng-model="vm.formcadastro.profissional.renda" placeholder="Renda">
			</label>
			<label class="item item-input item-select">
				<div class="input-label"> Autônomo </div>
				<select ng-model="vm.formcadastro.profissional.autonomo">
					<option value="0">Sim</option>
					<option value="1">Não</option>
				</select>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_endereco.$invalid && formcadastro.profissional_endereco.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Endereço</span>
				<input type="text" name="profissional_endereco" ng-model="vm.formcadastro.profissional.endereco" placeholder="Endereço">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_complemento.$invalid && formcadastro.profissional_complemento.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Complemento</span>
				<input type="text" name="profissional_complemento" ng-model="vm.formcadastro.profissional.complemento" placeholder="Complemento">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_cep.$invalid && formcadastro.profissional_cep.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">CEP</span>
				<input type="text" name="profissional_cep" ng-model="vm.formcadastro.profissional.cep" placeholder="CEP" ui-br-cep-mask>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_cidade.$invalid && formcadastro.profissional_cidade.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Cidade</span>
				<input type="text" name="profissional_cidade" ng-model="vm.formcadastro.profissional.cidade" placeholder="Cidade">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_estado.$invalid && formcadastro.profissional_estado.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Estado</span>
				<input type="text" name="profissional_estado" ng-model="vm.formcadastro.profissional.estado" placeholder="Estado">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_pais.$invalid && formcadastro.profissional_pais.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">País</span>
				<input type="text" name="profissional_pais" ng-model="vm.formcadastro.profissional.pais" placeholder="País">
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_tel1.$invalid && formcadastro.profissional_tel1.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="profissional_tel1" ng-model="vm.formcadastro.profissional.tel1" placeholder="Telefone" required ui-br-phone-number>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.profissional_tel2.$invalid && formcadastro.profissional_tel2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone 2</span>
				<input type="text" name="profissional_tel2" ng-model="vm.formcadastro.profissional.tel2" placeholder="Telefone 2" ui-br-phone-number>
			</label>

			<div class="item item-divider"> Referências Bancárias </div>

			<label ng-class="{ 'has-error' : formcadastro.refbancaria_banco.$invalid && formcadastro.refbancaria_banco.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Banco</span>
				<input type="text" name="refbancaria_banco" ng-model="vm.formcadastro.refbancaria.banco" placeholder="Banco" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refbancaria_agencia.$invalid && formcadastro.refbancaria_agencia.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Agência</span>
				<input type="text" name="refbancaria_agencia" ng-model="vm.formcadastro.refbancaria.agencia" placeholder="Agência" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refbancaria_conta.$invalid && formcadastro.refbancaria_conta.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Conta corrente</span>
				<input type="text" name="refbancaria_conta" ng-model="vm.formcadastro.refbancaria.conta" placeholder="Conta corrente" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refbancaria_telefone.$invalid && formcadastro.refbancaria_telefone.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="refbancaria_telefone" ng-model="vm.formcadastro.refbancaria.telefone" placeholder="Telefone" ui-br-phone-number></input>
			</label>

			<div class="item item-divider"> Referências Pessoais </div>

			<label ng-class="{ 'has-error' : formcadastro.refpessoal_nome1.$invalid && formcadastro.refpessoal_nome1.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome completo</span>
				<input type="text" name="refpessoal_nome1" ng-model="vm.formcadastro.refpessoal.nome1" placeholder="Nome completo" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refpessoal_telefone.$invalid && formcadastro.refpessoal_telefone.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="refpessoal_telefone" ng-model="vm.formcadastro.refpessoal.telefone" placeholder="Telefone" required ui-br-phone-number></input>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refpessoal_nome2.$invalid && formcadastro.refpessoal_nome2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome completo</span>
				<input type="text" name="refpessoal_nome2" ng-model="vm.formcadastro.refpessoal.nome2" placeholder="Nome completo" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refpessoal_telefone2.$invalid && formcadastro.refpessoal_telefone2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="refpessoal_telefone2" ng-model="vm.formcadastro.refpessoal.telefone2" placeholder="Telefone" required ui-br-phone-number></input>
			</label>

			<div class="item item-divider"> Referências Comerciais </div>

			<label ng-class="{ 'has-error' : formcadastro.refcomercial_nomeloja1.$invalid && formcadastro.refcomercial_nomeloja1.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome da loja</span>
				<input type="text" name="refcomercial_nomeloja1" ng-model="vm.formcadastro.refcomercial.nomeloja1" placeholder="Nome da loja" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refcomercial_telefone.$invalid && formcadastro.refcomercial_telefone.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="refcomercial_telefone" ng-model="vm.formcadastro.refcomercial.telefone" placeholder="Telefone" required ui-br-phone-number></input>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refcomercial_nomeloja2.$invalid && formcadastro.refcomercial_nomeloja2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome da loja</span>
				<input type="text" name="refcomercial_nomeloja2" ng-model="vm.formcadastro.refcomercial.nomeloja2" placeholder="Nome da loja" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refcomercial_telefone2.$invalid && formcadastro.refcomercial_telefone2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Telefone</span>
				<input type="text" name="refcomercial_telefone2" ng-model="vm.formcadastro.refcomercial.telefone2" placeholder="Telefone" required ui-br-phone-number></input>
			</label>
			<label class="item item-input item-select">
				<div class="input-label"> Já comprou cavalo? </div>
				<select ng-model="vm.formcadastro.refcomercial.comproucavalo" ng-change="vm.buyHorse()" required>
					<option value="0">Sim</option>
					<option value="1">Não</option>
				</select>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.refcomercial_onde.$invalid && formcadastro.refcomercial_onde.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Se sim, diga-nos onde</span>
				<input id="wherebuy" type="text" name="refcomercial_onde" ng-model="vm.formcadastro.refcomercial.onde" placeholder="Se sim, diga-nos onde" ng-disabled="vm.formcadastro.refcomercial.comproucavalo == null || vm.formcadastro.refcomercial.comproucavalo == 1">
			</label>

			<div class="item item-divider"> Informações de Login </div>

			<label ng-class="{ 'has-error' : formcadastro.login_usuario.$invalid && formcadastro.login_usuario.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Nome de usuário</span>
				<input type="text" name="login_usuario" ng-model="vm.formcadastro.login.usuario" ng-minlength="6" placeholder="Nome de usuário" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.login_senha.$invalid && formcadastro.login_senha.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Senha</span>
				<input type="password" name="login_senha" ng-model="vm.formcadastro.login.senha" ng-minlength="6" placeholder="Senha" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.login_senha2.$invalid && formcadastro.login_senha2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Confirme sua senha</span>
				<input type="password" name="login_senha2" ng-model="vm.formcadastro.login.senha2" compare-to="vm.formcadastro.login.senha" ng-minlength="6" placeholder="Confirme sua senha" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.login_email.$invalid && formcadastro.login_email.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">E-mail</span>
				<input type="email" name="login_email" ng-model="vm.formcadastro.login.email" placeholder="E-mail" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.login_email2.$invalid && formcadastro.login_email2.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Confirme seu e-mail</span>
				<input type="email" name="login_email2" ng-model="vm.formcadastro.login.email2" compare-to="vm.formcadastro.login.email" placeholder="Confirme seu e-mail" required>
			</label>
			<label ng-class="{ 'has-error' : formcadastro.login_celular.$invalid && formcadastro.login_celular.$dirty}" class="item item-input item-floating-label">
				<span class="input-label">Celular</span>
				<input type="text" name="login_celular" ng-model="vm.formcadastro.login.celular" placeholder="Celular" required ui-br-phone-number></input>
			</label>

			<div class="item item-divider"></div>

			<li class="item item-checkbox" style="overflow: visible; white-space: normal;">
				<label class="checkbox">
					<input type="checkbox" ng-model="termo1" required>
				</label>
				Eu li, entendi e aceito os <strong>termos, condições e regulamentos</strong> de serviço do XRLeilões.
			</li>
			<li class="item item-checkbox" style="overflow: visible; white-space: normal;">
				<label class="checkbox">
					<input type="checkbox" ng-model="termo2" required>
				</label>
				Eu li, entendi e aceito a <strong>política de privacidade</strong> do XRLeilões.
			</li>
			<li class="item item-checkbox" style="overflow: visible; white-space: normal;">
				<label class="checkbox">
					<input type="checkbox" ng-model="vm.formcadastro.login.newsletter">
				</label>
				Sim, eu gostaria de receber a Newsletter.
			</li>

			<div class="item item-divider"></div>

			<div class="padding">
				<p>Obs.: A concretização do negócio acontecerá somente após a recepção das cópias dos documentos solicitados acima, que deverão ser enviados para o nosso endereço.</p>
				<p>O declarante fica ciente que, qualquer falsidade quanto aos dados que forneceu , sujeita-o às penas previstas no artigo 299. do Código Penal Brasileiro.</p>
			</div>

			<div class="padding">
				<button class="button button-block button-stable" ng-disabled="formcadastro.$invalid"> Enviar </button>
			</div>
		</form>
	</ion-content>
</ion-view>
