<ion-view title="Leilão online">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	<ion-content class="has-header padding">

		<div class="list card" ng-repeat="(key, value) in vm.leiloes">
			<div class="item item-avatar topo-green">
				<a href="#/app/lotes/{{value.categoryID}}" title="">
					<img ng-src="http://www.xrleiloes.com.br/leilao/uploads/categories/{{value.picture}}">
				</a>
				<h2 class="c-white">{{value.name}}</h2>
				<p class="c-white">{{value.cat_start_date}}</p>
			</div>
			<div class="item item-body">
				<div ng-if="value.status == 1" class="button button-full button-dark btn-info" style="margin: -16px -16px 10px; overflow: hidden;"> Leilão não iniciado </div>
				<div ng-if="value.status == 2" class="button button-full button-dark btn-info" style="margin: -16px -16px 10px; overflow: hidden;"> Leilão em andamento </div>
				<div ng-if="value.status == 3" class="button button-full button-dark btn-info" style="margin: -16px -16px 10px; overflow: hidden;"> Leilão finalizado </div>
				<p>Data de término: {{value.cat_end_date}} às {{value.cat_end_time}} </p>
				<p>Transmissão: {{value.transmissao}}</p>
				<p>Leiloeiro: {{value.leiloeiro}}</p>
				<p>Assessoria: {{value.acessoria}}</p>
				<p>Comissão: {{value.comissao}}</p>
				<p>Condição de pagamento: {{value.pagamento}}</p>
				<div ng-bind-html="value.description"></div>
			</div>
			<div class="item tabs tabs-secondary tabs-icon-left" style="background-color: #e5e5e5;">
				<a class="tab-item" href="" ng-click="vm.openRegulamento(value.regulamento)"> <i class="icon ion-clipboard"></i> Regulamento </a>
				<a class="tab-item" ng-if="value.status != 0" href="#/app/lotes/{{value.categoryID}}" style="color: #005B00; font-weight: bold;"> <i class="icon ion-log-in"></i> Entrar </a>
			</div>
		</div>

	</ion-content>
</ion-view>