<div class="modal">
    <ion-header-bar class="bar-dark">
        <h1 class="title">Login</h1>
    </ion-header-bar>
    <ion-content scroll="false">
        <div class="logo">
            <img src="images/logo.svg" alt="" width="100%">
        </div>
        <form ng-submit="vm.doLogin()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Usuário</span>
                    <input type="text" ng-model="vm.loginData.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Senha</span>
                    <input type="password" ng-model="vm.loginData.password">
                </label>
                <div class="padding">
                    <button class="button button-block button-green" type="submit">Entrar</button>
                </div>
                <p class="txt-center">ou</p>
                <div class="padding">
                    <a href="#/app/cadastro" class="button button-block button-green" type="submit">Cadastre-se</a>
                </div>
            </div>
        </form>
    </ion-content>
</div>
