<ion-side-menus>

    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <!-- <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Voltar</ion-nav-back-button> -->
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Informações</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close ng-click="vm.logout()"> Logout </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
